<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="ExtentPack.extentClass" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="TestCases_new.TestCase_001"/>
      <class name="TestCases_new.TestCase_004"/>
      <class name="TestCases_new.LoginPageTest"/>
      <class name="TestCases_new.TestCase_003"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
